:root {
  --accent-color: #404bbf;
  --header-logo-color: #4d5ae5;
  --header-logo-end-color: #2e2f42;
  --header-link-color: #2e2f42;
  --header-border-color: #e7e9fc;
  --contact-link-color: #434455;
  --hero-background-color: #2e2f42;
  --hero-title-color: #ffffff;
  --hero-btn-color: #ffffff;
  --hero-background-btn-color: #4d5ae5;
  --title-color: #2e2f42;
  --text-color: #434455;
  --team-background-color: #f4f4fd;
  --team-item-color: #ffffff;
  --footer-background-color: #2e2f42;
  --footer-soc-media-accent-color: #31d0aa;
  --footer-logo-color: #4d5ae5;
  --footer-logo-end-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --btn-color: #4d5ae5;
  --btn-background-color: #f4f4fd;
  --btn-accent-color: #ffffff;
  --btn-projects-border-color: #e7e9fc;
  --customer-icon-color: #8e8f99;
  --projects-card-background-color: #ffffff;
  --soc-media-link-color: rgba(255, 255, 255, 0.1);
  --line-grad: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*--------------------HEADER-------------------------*/
.header {
  border-bottom: 1px solid var(--header-border-color);
}
.header-main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-logo-color);
}
.header-logo-end {
  color: var(--header-logo-end-color);
}
.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-navigation .link.current {
  color: var(--accent-color);
}
.header-contacts {
  display: flex;
}
.contact-item:not(:last-child) {
  margin-right: 40px;
}
.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contact-link-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/*--------------------HERO-------------------------*/
.hero {
  max-width: 1440px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--hero-background-color);
  background-image: var(--line-grad), url(../images/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--hero-title-color);
}
.hero-btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;

  color: var(--hero-btn-color);
  background: var(--hero-background-btn-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--accent-color);
}
/*--------------------FEATURES-------------------------*/
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features-item {
  width: calc((100% - 3 * 24px) / 4);
}
.features-item:not(:last-child) {
  margin-right: 24px;
}
.features-item::before {
  content: '';
  display: block;
  height: 112px;
  background-color: var(--btn-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.faetures-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*--------------------CONTENT-------------------------*/
.content {
  padding-bottom: 120px;
}
.content-list {
  display: flex;
  flex-wrap: wrap;
}
.content-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 72px;
}
.content-item {
  width: calc((100% - 2 * 24px) / 3);
}
.content-item:not(:last-child) {
  margin-right: 24px;
}
/*--------------------TEAM-------------------------*/
.team {
  background: var(--team-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-item {
  width: calc((100% - 3 * 24px) / 4);
  background: var(--team-item-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-item:not(:last-child) {
  margin-right: 24px;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 72px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-item-signature {
  width: 264px;
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}
.team-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.soc-item {
  width: 40px;
  height: 40px;
}
.soc-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--btn-color);
}
.soc-item-link:hover,
.soc-item-link:focus {
  background-color: var(--accent-color);
}
.soc-icon {
  fill: var(--btn-background-color);
}
/*--------------------CUSTOMERS------------------------*/
.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customer-item {
  width: calc((100% -5 * 24px) / 6);
  height: 88px;
}
.customer-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--customer-icon-color);
  border-radius: 4px;
  color: var(--customer-icon-color);
}
.customer-link-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
.customer-link:hover,
.customer-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
/*
.customer-link:hover .customer-link-icon,
.customer-link:focus .customer-link-icon {
  fill: var(--accent-color);
}
*/
/*--------------------PROJECTS-------------------------*/
.projects {
  padding-top: 91px;
  padding-bottom: 123px;
}
.projects-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 67px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 45px 24px;
}
.projects-subtitle {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.projects-btn {
  padding: 12px 24px;

  background: var(--btn-background-color);
  color: var(--btn-color);
  border: 1px solid var(--btn-projects-border-color);
  border-radius: 4px;
}
.projects-btn:hover,
.projects-btn:focus {
  background: var(--accent-color);
  color: var(--btn-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-item:not(:last-child) {
  margin-right: 24px;
}
.projects-item {
  background-color: var(--projects-card-background-color);
}
.projects-link {
  display: inline-block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-item-signature {
  padding-top: 23px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--header-border-color);
  border-top: none;
}
/*--------------------FOOTER-------------------------*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--footer-background-color);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
}
.footer-logo-end {
  color: var(--footer-logo-end-color);
}
.footer-text {
  margin-top: 16px;
  width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}
.footer-text-right {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--btn-accent-color);

  margin-bottom: 16px;
}
.footer-content {
  display: flex;
  gap: 120px;
}
.soc-media-list {
  display: flex;
  gap: 16px;
}
.soc-media-item {
  width: 40px;
  height: 40px;
}
.soc-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--soc-media-link-color);
}
.footer-soc-icon {
  fill: var(--btn-background-color);
}
.soc-media-link:hover,
.soc-media-link:focus {
  background-color: var(--footer-soc-media-accent-color);
}
